

.menu li a {
    text-decoration: #000000;
    position: relative;
    columns: #000000;
    font-size:20px;
    font-weight:60;
    font-family: sans-serif;
    display: block ;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 20px;
    text-transform:uppercase;
    
    
}

.menu li a:before{
    content:' ';
    width:100px;
    position:absolute;
    border-bottom: 5px solid #696969; 
    bottom:0;
    right:120px;
    transition:0.5s all;
}
.menu li a:hover:before{
    right:0;
}

#button{
    color:white;
    /* font-family: cursive; */

}

/* body {
    background-image: url(file:///Users/jason_lao/Desktop/eye.jpeg);
    background-size: cover;
} */
